* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500, 700;
    font-style: normal;
}

body {
    background-color: hsl(202, 66%, 84%);
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.calculator {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 65%;
    border-radius: 25px;
    box-shadow: 0px 10px 20px hsl(203, 41%, 72%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: hsl(202, 55%, 16%);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.form-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1rem;
    display: flex;
    justify-content: column;
}

.mortgage-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
}

input[type="number"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid hsl(202, 55%, 16%);
    font-size: 1rem;
    font-weight: 500;
    color: black;
    gap: 1rem;
}

.clear-btn {
    background: none;
    border: none;
    border-bottom: 1px solid hsl(203, 41%, 72%);
    color: hsl(203, 41%, 72%);
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

.mortgage-form label {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: hsl(202, 55%, 16%);
    margin: 20px 0 6px;
}
.mortgage-form input[type="number"]::placeholder {
    color: hsl(203, 41%, 72%);
}

.btn-calculator {
    background-color: hsl(61, 69%, 46%);  
    color: hsl(200, 43%, 19%);
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}
.btn-calculator img {
    margin-right: 10px;
}

.results-section {
    background-color: hsl(202, 55%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 20%;
    border-top-left-radius: none;
    box-shadow: 0px 10px 20px hsl(203, 41%, 72%);
    gap: 1rem;
    width: 50%;
    height: 100%;
}

.results-section img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.results-section h2 {
    color: hsl(202, 86%, 94%);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.results-section p {
    color: hsl(203, 41%, 72%);
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

label {
    font-size: 0.8rem;
    color: hsl(203, 41%, 72%);
    margin-bottom: 10px;
    font-weight: 600;
}

.results {
    background-color: hsl(202, 55%, 16%);
    color: hsl(202, 86%, 94%);
    border-radius: 15px;
    padding: 15px;
    font-weight: 700;
    align-items: center;
    text-align: center; 
    flex: 1;  
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }