* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: hsl(203, 41%, 72%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500, 700;
    font-style: normal;
}

.calculator {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 20px;
}

label {
    font-size: .0.8rem;
    color: hsl(203, 41%, 72%);
    margin-bottom: 10px;
    font-weight: 600;
}

.results {
    background-color: hsl(202, 55%, 16%);
    color: hsl(202, 86%, 94%);
    border-radius: 15px;
    padding: 15px;
    font-weight: 700;
    align-items: center;
    text-align: center; 
    flex: 1;  
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }