* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500, 700;
    font-style: normal;
}

body {
    background-color: hsl(202, 66%, 84%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
    display: flex;
}

.calculator {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    border-radius: 25px;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 10px 20px hsl(203, 41%, 72%);
    display: flex;
    gap: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0.5rem;
}

.mortgage-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.clear-btn {
    background: none;
    border: none;
    color: hsl(203, 41%, 72%);
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

.btn-calculator {
    background-color: hsl(61, 69%, 46%);  
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}


.results-section {
    background-color: hsl(202, 55%, 16%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5rem;
    width: 100%;
}

.results-section img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.results-section h2 {
    color: hsl(202, 86%, 94%);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.results-section p {
    color: hsl(203, 41%, 72%);
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

label {
    font-size: 0.8rem;
    color: hsl(203, 41%, 72%);
    margin-bottom: 10px;
    font-weight: 600;
}

.results {
    background-color: hsl(202, 55%, 16%);
    color: hsl(202, 86%, 94%);
    border-radius: 15px;
    padding: 15px;
    font-weight: 700;
    align-items: center;
    text-align: center; 
    flex: 1;  
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }