
body {
    box-sizing: border-box;
    background-color: hsl(203, 41%, 72%);
}


.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500, 700;
    font-style: normal;
}

.calculator {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    padding: 20px;
    border-radius: 25px;
    font-family: 'Spartan', sans-serif;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .0.8rem;
    color: hsl(203, 41%, 72%);
    margin-bottom: 10px;
    font-weight: 600;
}